{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "include": "build/main/**/*.js",
    "exclude": [
        "build/main/index.js",
        "build/main/**/*.spec.*"
    ],
    "check-coverage": true,
    "lines": 90,
    "statements": 90,
    "functions": 90,
    "branches": 90,
    "reporter": [
      "lcov",
      "text"
    ]
}
